.giraffe1{
  width: 150px;
  height: 200px;
}
#giraffe, #giraffe {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}
@media only screen and (max-width:600px) {
  #giraffe {
    margin-top: 500px; 
  }
}
#giraffe {
  padding: 50px;
  display: none;
}